@mixin pad-vert($val, $important: false) {
  $suffix: "";
  @if $important {
    $suffix: " !important";
  }

  padding-top: #{$val}#{$suffix};
  padding-bottom: #{$val}#{$suffix};
}

@mixin pad-horz($val, $important: false) {
  $suffix: "";
  @if $important {
    $suffix: " !important";
  }

  padding-left: #{$val}#{$suffix};
  padding-right: #{$val}#{$suffix};
}
